.container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem auto;
    width: 80%;
    height: 60px;
    line-height: 60px;
    background-color: red;
    justify-content: center;
    font-size: 18px;
}

